
<div class="card rounded shadown-sm p-3">

  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text" strong><strong>Filtro: </strong></div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Filtrar por tema ou local..."
          (input)="filtrarPalestrantes($event.target)"
          >
      </div>
    </div>
  </div>

  <table aria-describedby="Tabela com lista de palestrantes gerais do ProEventos." class="table table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Título</th>
        <th>Mini Currículo</th>
      </tr>
    </thead>
    <tbody *ngIf="palestrantes && palestrantes.length">
      <tr *ngFor="let palestrante of palestrantes" style="cursor: pointer;">
        <td>{{palestrante.id}}</td>
        <td>{{palestrante.user.primeiroNome + palestrante.user.ultimoNome}}</td>
        <td>{{palestrante.user.titulo}}</td>
        <td>{{palestrante.miniCurriculo}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!palestrantes">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum palestrante encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
