<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2" strong><strong>Filtro: </strong></label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="filtrar por tema ou local..."
      [(ngModel)]="filtroLista"
      >
  </div>
</div>
<table aria-describedby="Tabela com lista de eventos gerais do ProEventos." class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm"
          (click)="mostrarImagem()">
          <em class="{{exibirImage ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></em>
          {{exibirImage ? "Exibir" : "Ocultar"}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="exibirImage"
             [isAnimated]="true"
             src="/assets/{{evento.imageURL}}"
             alt="{{evento.imageAlt}}"
             [style.width.px]="larguraImg"
             [style.margin.px]="margemImg"
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormat_Pipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar evento">
          <em class="fa fa-edit"></em>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" tooltip="Excluir evento" (click)="openModal(template)">
          <em class="fa fa-trash"></em>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Atenção</h3>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Você deseja confirmar esta ação?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-default" (click)="decline()" >Não</button>
  </div>
</ng-template>
