<div class="card rounded shadown-sm">
  <form [formGroup]="formulario">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control is-invalid" formcontrolName="tema" placeholder="Insira o Tema">
          <div class="invalid-feedback">tema é obrigatório</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input title="local" type="text" class="form-control  is-invalid" formcontrolName="local" placeholder="Insira o local">
          <div class="invalid-feedback">local é obrigatório</div>
        </div>
        <div class="form-group col-md-2">
          <label>Data e Hora</label>
          <input title="data e hora" type="datetime" class="form-control  is-invalid" formcontrolName="dataEvento" placeholder="Defina data e hora">
          <div class="invalid-feedback">data e hora é obrigatório</div>
        </div>
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input title="quantidade de pessoas" type="text" class="form-control  is-invalid" formcontrolName="qtdPessoas" placeholder="Informe quantidade">
          <div class="invalid-feedback">quantidade é obrigatório</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input title="telefone" type="text" class="form-control  is-invalid" formcontrolName="telefone" placeholder="(000) 90000-0000">
          <div class="invalid-feedback">telefone é obrigatório</div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input title="e-mail" type="text" class="form-control  is-invalid" formcontrolName="email" placeholder="E-mail">
          <div class="invalid-feedback">e-mail é obrigatório</div>
        </div>
        <div class="form-group col-md-2">
          <label>Imagem</label>
          <input title="Imagem" type="text" class="form-control  is-invalid" formcontrolName="imagemURL" placeholder="imagem">
          <div class="invalid-feedback">imagem é obrigatório</div>
        </div>
        <div class="form-group col-md-4">
          <label>Descrição da imagem</label>
          <input title="Descrição da Imagem" type="text" class="form-control  is-invalid" formcontrolName="imagemAlt" placeholder="Descreva a imagem selecionada">
          <div class="invalid-feedback">descrição da imagem é obrigatório</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button type="reset" class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button type="submit" class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
