<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-12"></div>
    <div class="form-group col-sm-3">
      <label>Título</label>
      <select title="Lista de títulos" class="form-control"
      [ngClass]="cssValidator(f.titulo)"
      formControlName="titulo">
      <option value="NaoInformado">Não Informado</option>
      <option value="Tecnologo">Tecnólogo(a)</option>
      <option value="Bacharel">Bacharel</option>
      <option value="Especialista">Especialista</option>
      <option value="PosGraduado">Pós Graduado(a)</option>
      <option value="Mestrado">Mestre</option>
      <option value="Doutorado">Doutor(a)</option>
      <option value="PosDoutorado">Pós Doc</option>
    </select>
    <div *ngIf="f.titulo?.errors?.required" class="invalid-feedback">
      título obrigatório.
    </div>
  </div>
  <div class="form-group col-sm-4">
    <label>Primeiro Nome</label>
    <input title="primeiro nome" type="text" class="form-control" placeholder="Insira o primeiro nome"
    formControlName="primeiroNome" [ngClass]="cssValidator(f.primeiroNome)"/>
    <div *ngIf="f.primeiroNome?.errors?.required" class="invalid-feedback">
      primeiro nome obrigatório.
    </div>
    <div *ngIf="f.primeiroNome?.errors?.minlength" class="invalid-feedback">
      primeiro nome deve ser maior.
    </div>
  </div>
  <div class="form-group col-sm-5">
    <label>Último nome</label>
    <input title="último nome" type="text" class="form-control" placeholder="Insira o último nome"
    formControlName="ultimoNome" [ngClass]="cssValidator(f.ultimoNome)"/>
    <div *ngIf="f.ultimoNome?.errors?.required" class="invalid-feedback">
      último nome obrigatório.
    </div>
    <div *ngIf="f.ultimoNome?.errors?.minlength" class="invalid-feedback">
      último nome deve ser maior.
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-sm-3">
    <label>Função</label>
    <select title="Lista de funções" class="form-control"
    formControlName="funcao" [ngClass]="cssValidator(f.funcao)">
    <option value="NaoInformado">Não Informado</option>
    <option value="Participante">Participante</option>
    <option value="Palestrante">Palestrante</option>
  </select>
  <div *ngIf="f.funcao?.errors?.required" class="invalid-feedback">
    função obrigatória.
  </div>
</div>
<div class="form-group col-sm-4">
  <label>Telefone</label>
  <input title="Telefone" type="text" class="form-control" placeholder="(11) 9 1234-5467"
  formControlName="phoneNumber" [ngClass]="cssValidator(f.phoneNumber)"/>
  <div *ngIf="f.phoneNumber?.errors?.required" class="invalid-feedback">
    telefone obrigatório.
  </div>
  <div *ngIf="f.phoneNumber?.errors?.minlength" class="invalid-feedback">
    telefone inválido.
  </div>
</div>
<div class="form-group col-sm-5">
  <label>E-mail</label>
  <input title="e-mail" type="text" class="form-control" placeholder="Insira o e-mail"
  formControlName="email" [ngClass]="cssValidator(f.email)"/>
  <div *ngIf="f.email?.errors?.required" class="invalid-feedback">
    e-mail obrigatório.
  </div>
  <div *ngIf="f.email?.errors?.email" class="invalid-feedback">
    e-mail inválido.
  </div>
</div>
<div class="form-group col-12">
  <label>Descrição</label>
  <input title="descrição" type="text" class="form-control" placeholder="Insira a descrição"
  formControlName="descricao" [ngClass]="cssValidator(f.descricao)"/>
  <div *ngIf="f.descricao?.errors?.required" class="invalid-feedback">
    descrição obrigatória.
  </div>
</div>
</div>
<div>
  <h3 class="pt-3 border-bottom">Mudar Senha</h3>
  <p>Caso mude de senha, preencha os campos abaixo:</p>
</div>
<div class="form-row">
  <div class="form-group col-sm">
    <label>Senha</label>
    <input title="senha" type="password" class="form-control" placeholder="Insira a senha"
    formControlName="password" [ngClass]="cssValidator(f.password)"/>
    <div *ngIf="f.password?.errors?.required" class="invalid-feedback">
      senha é obrigatória.
    </div>
    <div *ngIf="f.password?.errors?.minlength" class="invalid-feedback">
      senha deve ter mais de 6 caracteres.
    </div>
  </div>
  <div class="form-group col-sm">
    <label>Confirmar Senha</label>
    <input title="confirmar senha" type="password" class="form-control" placeholder="Confirme a senha"
    formControlName="confirmePassword" [ngClass]="cssValidator(f.confirmePassword)"/>
    <div *ngIf="f.confirmePassword?.errors?.required" class="invalid-feedback">
      Confirmação de senha obrigatória.
    </div>
    <div *ngIf="f.confirmePassword?.errors?.minlength" class="invalid-feedback">
      senha deve ter mais de 6 caracteres.
    </div>
    <div *ngIf="f.confirmePassword?.errors?.mustMatch" class="invalid-feedback">
      senhas devem ser iguais.
    </div>
  </div>
</div>

<div class="card-footer">
  <div class="d-flex">
    <button (click)="resetForm($event)" type="reset" class="btn btn-outline-secondary mr-auto border">
      Cancelar Alteração
    </button>
    <button type="submit" class="btn btn-success" [disabled]="!form.valid">
      Salvar Alteração
    </button>
  </div>
</div>
</form>
